.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-primary);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
}